.guide-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(233, 247, 252);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  max-height: 250px;
}

.guide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  max-height: 250px;
}

.guide-image img {
  object-fit: contain;
}

.guide-info {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 8px;
}

.guide-title {
  margin: 0;
  font-weight: bold;
  font-size: 1.2em;
}

.guide-category {
  display: inline-block;
}

.guide-category span {
  background-color: rgb(14, 93, 157);
  color: white;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 1em;
}

.guide-actions {
  padding: 16px 16px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  min-width: 90px;
}

.guide-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3em;
  line-height: 1.5em;
  margin-bottom: 8px;
}

.guide-date {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 12px;
}

.guide-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 0;
}

.guide-buttons svg{
    font-size: 25px;
}

.guide-date {
  color: #666;
  font-size: 1em;
}

.guide-buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
