:root {

  line-height: 1.5;
  font-weight: 400;
  /* Colores principales */
  --blue-dark: #0e5d9e;
  --blue-light: #2fa8e0;
  --blue-cloud: #e8f7fc;
  --neutral-dark: #1f3240;
  --neutral-light: #e8f7fc;

  /* Escala de grises */
  --gray-50: #f7f7f7;
  --gray-200: #cccccc;
  --gray-600: #7a7a7a;
  --gray-800: #2e2e2e;
  --white: #ffffff;
  --black: #000000;

  /* tamaños - usando base 16px */
  --size-base: 16px;
  --size-xxs: 4px;    /* 0.25 * base */
  --size-xs: 6px;     /* 0.375 * base */
  --size-s: 8px;      /* 0.5 * base */
  --size-sm: 14px;    /* 0.75 * base */
  --size-ml: 24px;    /* 1.5 * base */
  --size-l: 28px;     /* 2 * base */
  --size-xl: 48px;    /* 3 * base */

  /* Border radius */
  --default-border: 8px;      /* 0.5 * base */

  /* Tipografía */
  --font-family: 'Geomanist', sans-serif;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: var(--size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Estilos de tipografía */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: bold;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 500;
}

.body-text {
  font-family: var(--font-family);
  font-weight: normal;
}




/* 
      conjunto de clases para personalizar el inputDate de MUI libreria 
      la capa de personalizacion ofrecida por la libreria no alcanza para 
      cumplir con el figma de diseño por lo que se agregan estas clases 
      extraidas directamente del node modules bajo el caracter de !important      
*/


.css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--blue-light) !important;
}

.css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: var(--blue-light) !important;
}

.css-aj5au3-MuiPaper-root-MuiPickersPopper-paper {
  border-radius: 30px !important; 
}

.css-1n04w30-MuiInputBase-root-MuiOutlinedInput-root,
.css-xwn1oi-MuiFormControl-root-MuiTextField-root {
  border-radius: var(--default-border) !important;
  background-color: var(--gray-50) !important; 
  height: 33.75px !important;
}

.css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.css-hvjq6j-MuiFormLabel-root-MuiInputLabel-root,
.css-1kfabtt-MuiFormLabel-root-MuiInputLabel-root { 
 display: none!important;
}
