.icon-button {
    width: 36px;
    height: 36px;
    padding: 8px;
    border: none;
    border-radius: 50px;
    background-color: var(--blue-light);
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-button:hover {
    background-color: var(--blue-cloud);
    color: var(--black);
  }
  
  .icon-button svg {
    font-size: 30px;
  }
  