.custom-button {
  background-color: var(--blue-light);
  color: var(--white);
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: var(--size-sm);
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button:hover:not(.disabled) {
  background-color: var(--blue-cloud);
}

.custom-button.disabled {
  background-color: var(--gray-200);
  color: white;
  cursor: not-allowed;
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--blue-light);
}

