.fatbButton {
  background-color: var(--blue-light);
  color: var(--white);
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  font-family: var(--font-family);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: var(--size-sm);
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espacio entre el texto y el icono */
}

.fatbButton:hover:not(.disabled) {
  background-color: var(--blue-cloud);
}

.fatbButton.disabled {
  background-color: var(--gray-50);
  color: var(--gray-400);
  cursor: not-allowed;
}

.fatbButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--blue-light);
}

.fatbButton-label {
  display: inline-block;
}

.fatbButton-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.fatbButton.danger {
  background-color: var(--red);
}

.fatbButton.danger:hover:not(.disabled) {
  background-color: var(--red-dark);
}
